.top-section {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 100px;
    padding-bottom: 200px;
}

#header-font {
    font-size: 60px;
    color: white;
    color: white;
}

body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
}

.link-button {
    text-decoration: none;
    padding: 15px 40px;
    background-color: rgb(255, 89, 89);
    color: white;
    border-radius: 20px;
}

p {
    color: #1cd6d9;
}
}